.chart-wrapper {
	padding: .5rem;
	height: 100%;
  width: 100%;
}

// axes settings
.tick line { color: $mid; }
.tick text { color: $dark; }


.xaxis.day {
	font-size: .4rem;
	color: $dark;
}

.xaxis.month {
	color: $mid;
	text-transform: uppercase;
	font-weight: 700;
}

.xaxis.count {
	font-size: .5rem;
}

// bar chart
.mainoverlay {
	cursor: crosshair;
}

.text-stroke {
	paint-order: stroke;
	stroke: #fff;
	stroke-width: 8px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
}
