.lastvalue-label {
  font-size: .5rem;
}

.domain {
  visibility: hidden;
}

.tick line { color: $mid; }
.tick text { color: $dark; }

.month {
	text-transform: uppercase;
	font-weight: 700;
}

.xaxis.day {
	font-size: .4rem;
	color: $dark;
}

.xaxis.month {
	color: $mid;
}

.xaxis.count {
	font-size: .5rem;
}

.focustext {
	font-size:  8px;
	paint-order: stroke;
	stroke: #fff;
	stroke-width: 4px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
}

.overlay {
	cursor: crosshair;
}