.chart-wrapper {
	padding: .5rem;
	height: 100%;
  width: 100%;
}

// hide square around ygrid
.domain {
  visibility: hidden;
}

// axes settings
.tick line { color: $mid; }
.tick text { color: $dark; }


.xaxis.day {
	font-size: .4rem;
	color: $dark;
}

.xaxis.month {
	color: $mid;
	text-transform: uppercase;
	font-weight: 700;
}

.xaxis.count {
	font-size: .5rem;
}

// bar chart
.mainoverlay {
	cursor: crosshair;
}